@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

:root {
    --hero-padding: 2rem 4rem;
    --overall-padding: 6rem;
    --section-title-padding: 20vw;
    --align-left: 6rem;
}

html {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;;
    font-weight: 300;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    color: black;
    line-height: 1.3;
    cursor: url('assets/name-logo.svg'), auto;
}



img, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-weight: 400;
}

h2{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-weight: 500;
    letter-spacing: 1px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 2.5rem;
}

ul > li:hover {
    text-decoration: underline;
}

nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    padding: 3rem;
    background-color: rgba(254, 254, 254, 0.5); /* Adjust the color and opacity as needed */
    backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
    box-shadow: 3px 0px 5px #1F35F9;
}

#me:hover{
    transform: rotate(45deg);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.menu {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: 1em;
}
#name-logo{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 4.5rem;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#name-logo {
    animation: spin 15s linear infinite;
}

.hero {
    background: rgb(198,196,196);
    background: linear-gradient(180deg, rgba(198,196,196,1) 0%, rgba(217,217,217,1) 51%, rgba(236,235,235,1) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--hero-padding);
    height: 70vh;
}

.hero-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 2rem 0rem 2rem;
}


.hero-about > p {
    max-width: 80%;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.hero-intro {
    position: relative;
    padding: 1rem;
}

.hero-intro > h2{
    position: relative;
    z-index: 1;
    width: 80%;
    font-weight: 300;
}

.hero-intro > img {
    position: absolute;
    height: 50vh;
    width: auto;
    bottom: -20px;
    right: 1rem;
}

.intro {
    transform: translate(-20vh, 20vh);
    opacity: 0;
}

.intro-transition-effect {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 1.5s ease-in;
}

.me-transition-effect {
    transition: all 0.5s ease-in;
}

@media (max-width: 760px) {
    .hero {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .hero-about {
        display: none;
    }
    .hero-intro > img {
        height: 40vh;
        right: -1rem;
        bottom: -100px;
    }
}

.ability {
    background: rgb(236,235,235);
    background: linear-gradient(180deg, rgba(236,235,235,1) 0%, rgba(255,255,255,1) 100%);
}
.ability-wrapper {
    padding: 2rem 6rem;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 2rem;
    cursor: url('assets/blue-logo.svg'), auto;
}

.rotate{
    transform: rotate(180deg);
}

.skill{
    display: flex;
}

.language {
    display: none;
    padding-top: 1rem;
    gap: 2rem;
    /* visibility: hidden; */
    font-weight: 300;
    font-size: 1.5rem;
    color: #1F35F9;
    flex-wrap: wrap;
}

.section-title {
    padding: 3rem 0;
    text-align: center;
    padding-left: var(--section-title-padding);
}

.projects > h2 {
    padding-top: 15vh;
}

.project-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.content-img-title p{
    font-size: 1rem;
}



.content-img {
    height: auto;
    width: clamp(150px, 30vw, 300px);
}

.content-text {
    flex: 1;
    padding: 1rem;
}
.content-wrapper:nth-child(2){
    flex-direction: row-reverse;
}


/* .img-wrapper {
    width: clamp(100px, 50vw, 450px);
    height: clamp(100px, 50vw, 450px);
}

.img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#experience {
    padding: 5rem;
    height: 80vh;
    background: #000;
    display: flex;
    justify-content: center;
    background: rgb(198,196,196);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 51%, rgb(255, 255, 255) 100%);
}

#experience img {
    height: 100%;
    width: 100%;
}



.contact{
    --font-size: clamp(1.2rem, 3vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(160deg, rgb(255, 255, 255) 0%, rgb(243, 243, 243) 50%, rgb(109, 109, 195) 100%);
    height: 80vh;
    padding: var(--overall-padding);
}
.contact h2 {
    padding-bottom: 5rem;
}

.contact h3 {
    font-size: var(--font-size);
}


.contact-wrapper {
    /* padding: var(--overall-padding); */
    /* padding-bottom: 2rem; */

}

.mail {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0rem;
}

.email-mobile {
    font-size: var(--font-size);
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    padding-left: 10px;
    cursor: url('assets/blue-logo.svg'), auto;
}

.icon-container a{
   font-size: var(--font-size);
   margin-right: 5rem;
   font-weight: 400;
   text-decoration: underline;
   cursor: url('assets/blue-logo.svg'), auto;
}

@media(max-width: 1000px) {
    body {
        cursor: auto;
    }
}

@media (max-width: 500px) {
    .ability {
       padding-top: 15vh;
    }
    #experience {
        height: 50vh;
    }
    #experience img {
        width: 80vw;
    }
}


